.modal {
    /* Esta!! /// Quizas agregarle alguna imagen */
 background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
 border: 3px solid rgba(0, 0, 0.3);
 border-radius: 7px;
 margin: 150px
}
.modal__header {
display: flex;
justify-content: center;
columns: center;
}
.form{
    display: contents;
}

.modal__footer {
 display: flex;
 justify-content: center;
 border-top: 1px solid rgba(0, 0, 0.3);
 padding-left: 80px;
 padding-right: 80px;
 margin-bottom: 30px;
}

.tittle{
 display: flex;/**/
 justify-content: center;    
}

.name{
 /*display: flex;*/
 justify-content: center;
 columns: center;
 text-align: center;
 top:2px;
 padding-top: 2px;
 padding-bottom: 2px;
}
.select{
 justify-content: center;
 columns: center;
 border: 1px solid;
 padding-top: 2px;
 padding-bottom: 2px;
}

.input{
 border: 2px solid blue;
 padding-top: 2px;
 padding-bottom: 2px;
}

.input_description{
    border: 2px solid blue;
    padding-top: 2px;
    padding-bottom: 100px;
}
.center{
    display: flex;
    justify-content: center;
}
.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #2cba92;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin-top: 15px;
  }
  
.button:hover {
    background: #a4d1ed;
    text-decoration: none;
  }

.create{
    background-color: #e2f8f5;
}
.result{
    text-decoration: none;
    list-style: none
}