.detail{ 
  position: relative;
  max-height: 100vh;
  min-height: 15vh;
  margin-bottom: 10px;
}

.font{
  text-align: center;
  font-family: 'Tiro-Italic';
}

.named{
  font-size: 35px;
  font-family: 'Tiro-Italic';
}  

footer {
  background-color: rgb(25 81 107);
  height: 10vh;
  font-family: 'Merri-BlackItalic';
}