/*LIST000!!
.Fondo{
}*/
.Barra{
   
  grid-area: header ;
  grid-row: inherit;
}
.container_home{
  display: flex;/*Quizas despues se lo saque!*/
  flex-wrap: wrap;
  margin-right: 1px;
  justify-content: center;
  text-decoration: none
}

.addVg{
  display: flex;
  justify-content: center;
}
.search{
  display: flex;
  justify-content: space-around;
}
.filtros{
  display: list-item;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
}
.CadaUno{
  display: flex;
  justify-content: space-around;
  align-items: flex-star
}
.paginado{
  flex-direction: row;
  align-items: center;
}
.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2cba92;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 15px;
}
.button:hover {
  background: #a4d1ed;
  text-decoration: none;
}
.reseT{
  display: flex;
  justify-content: center;
}  
.reset {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2cba92;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 15px;
}
  
.reset:hover {
  background: #a4d1ed;
  text-decoration: none;
}
.card_home{
  text-decoration: none
}