/*Falta este*/
.Nav {
  /*justify-content: space-evenly;
  border-radius: #ffffff;
  background-image: url('../Img/thimo-pedersen-dip9IIwUK6w-unsplash.jpg');*/
  display: flex;
  height: 15vh;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(25 81 107);
}

.titulo {
  display: flex;
  justify-content: center;
  font-style: revert;
  color: rgb(4, 4, 4);
}

.btn_Nav {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  justify-content: center;
  border-radius: 28px;
  font-family: Arial;
  color: rgb(25 81 107);
  font-size: 15px;
  background: white;
  padding: 9px 15px 9px 15px;
  text-decoration: none;
  border: none;
  margin-top: 10px;
}

.btn_Nav:hover {
  background: #a4d1ed;
  text-decoration: none;
}